################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotNetCore_MVC/obj
/.vs
/DotNetCore_MVC/.vs/DotNetCore_MVC/v16
